@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,600');

*{
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
}
.container{
    display: flex;
}

.sidebar{
    position: fixed;
    overflow: auto;
    height: 100%;
}


.main{
    padding: 40px;
    margin-left: 300px;
}

.para{
    padding: 10px;
    font-size: 1.2rem;
}

.list-link{
    padding: 0.7rem 2rem;
    border: 1px solid #000;
    border-bottom: none !important;
    font-size: 1.2rem;
}

#head{
    font-size: 2rem;
    padding: 1rem;
    font-weight: 600;
}

.title{
    padding: 10px 0;
    font-size: 1.6rem;
    font-weight: 600;
}

a{
    text-decoration: none;
    font: inherit;
    color: inherit;
}

.img{
    width: 400px;
    margin: 2rem auto;
}

code{
    white-space: pre-wrap;
    display: block;
    background-color:#f7f7f7;
    padding:10px;
    border-radius:5px;
    margin-top: 1rem;
    line-height: 1.1rem;
    font-family: 'Courier New';
    font-size: 0.9rem;
    font-weight: 100;
}

ul{
    margin-top: 1.8rem;
}

ul li{
    margin-left: 3rem;
    margin-bottom: .5rem;
}

@media (max-width: 700px){
    .container{
        display: block;
    }

    .sidebar{
        position: static;
        height: 210px;
        border-bottom: 1px solid black;
    }

    .main{
        margin: 0;
        padding: 10px;
    }

    .img{
        margin: 1.5rem;
    }

    img{
        width: 200px;
    }

    code{
        padding-right: 3rem;
    }
}
