html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

section{
    box-sizing: border-box;
    padding: 3rem;
}

section h1{
    margin: 0;
    padding: 0;
    font-size: 4rem;
}

.scroll{
    position: fixed;
    top: 50%;
    right: 0;
    display: block;
    width: 60px;
    color: #fff;
    z-index: 100;
    text-decoration: none;
    text-align: center;
    padding: 1.5rem;
}

.scroll.top{
    top: calc(50% - 66.4px);
    background: rgb(36, 23, 146);
}

.scroll.bottom{
    top: calc(50% - 0);
    background: rgb(113, 114, 167);
}